
    // PRIMARY //
$clr-100 : hsl(322, 100%, 66%);
$clr-110 : rgba(255, 82, 191, 0.6);

    // NEUTRAL //
$clr-200 : hsl(193, 100%, 96%);
$clr-210 : hsl(0, 0%, 100%);
$clr-300 : hsl(192, 100%, 9%);
$clr-400 : hsl(208, 11%, 55%);

$ff-100 : 'Poppins', sans-serif;
$ff-200 : 'Open Sans', sans-serif;


$fs-1 : 18px ;

$fw-100 : 600;

$fw-200 : 400;
$fw-210 : 700;



